<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183865895491-2reb7q5hjc4nmtki2n5r195969l7dphu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183865895491-2reb7q5hjc4nmtki2n5r195969l7dphu</string>
	<key>API_KEY</key>
	<string>AIzaSyA9xwBHPZgyCpf2u3vSlrV7fzKgKhOZ_yk</string>
	<key>GCM_SENDER_ID</key>
	<string>183865895491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.currencygauge.currencygauge</string>
	<key>PROJECT_ID</key>
	<string>currencygauge</string>
	<key>STORAGE_BUCKET</key>
	<string>currencygauge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183865895491:ios:624a76f774a712e797c2f6</string>
	<key>DATABASE_URL</key>
	<string>https://currencygauge.firebaseio.com</string>
</dict>
</plist>